body {
    background-color: #FDF6EC;
    font-family: Arial, sans-serif;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 40%;
}

.card {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    background-color: #fff2e2;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card h1 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.card p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@keyframes pulse {
0% {
    transform: scale(1);
}
50% {
    transform: scale(1.1);
}
100% {
    transform: scale(1);
}
}

.card-container img,
.card-container h1,
.card-container p {
transition: transform 0.2s;
}

.card-container img:hover,
.card-container h1:hover,
.card-container p:hover {
animation: pulse 1s infinite;
}
